.basic-info {
    padding: 1rem;
    background: white;
    border-radius: 0.5rem;
    
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;
      padding-bottom: 10px;
      border-bottom: 1.5px solid #e0e0e0;
      
      h1 {
        font-size: 1.5rem;
        font-weight: 600;
        color: #000;
      }
    }
  
    
    &__profile {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 2rem;
  
      &-avatar {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background: #f0f0f0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      &-name {
        font-size: 1.25rem;
        font-weight: 500;
        color: #000;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  
    &__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
  
    &__field {
      &-label {
        font-size: 0.875rem;
        color: #666;
        margin-bottom: 0.5rem;
      }
  
      &-value {
        font-size: 1rem;
        color: #000;
  
        &--pending {
          color: #ff0000;
        }
      }
    }
  }
  .ant-select-selector{
    background-color: #a18552 !important;
    color: #fff !important;
   
    &:hover{
      border: none !important;
    }
  }
  .ant-select-arrow{
    color: #fff !important;
  }
  .ant-select-focused:where(.css-dev-only-do-not-override-ni1kz0).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector{
    border-color: #a18552 !important;
    box-shadow: none !important;
  }
  
  