.AOC-vid{
    
    background-color: #a18552;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 6px 4px 5px;
}
.AOC-urgent{
    
    background-color: #EB5757;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 6px 4px 5px;
}
.AOC-inprogress{
    background-color: #828282;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 6px 4px 5px;
}
.AOC-missed{
    font-size: 13px;
    font-weight: 400;
    color: #EB5757;
}